*{
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #ff0000; 
    background-color: #065bf8;
    font-family: 'Inconsolata', monospace;

}
h2 {
    color: #b1162b;
    font-family: 'Roboto', sans-serif;

}

body {
    text-align: center;
}

.img--small {
    height: 50px;
    width: 50px;
}

button :hover {
    background-color: #065bf8;
}

/* HEADER INDEX */
header {
    position: sticky;
    top: 0px;
    background-color: #3C9DC6 ;
}
/* .header__section {
    display: grid;
    grid-template-areas: "logo inicio clasicos copas historia idolos contacto";
}
.header__logo {
    grid-area: logo;
}
.header__inicio {
    grid-area: inicio;
}
.header__clasicos {
    grid-area: clasicos;
}
.header__copas{
    grid-area: copas
}
.header__historia {
    grid-area: historia;
}
.header__idolos {
    grid-area: idolos;
}
.header__contacto {
    grid-area: contacto;
} */
.header__item {
    display: inline;
    padding: 20px;
}
.header__item a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
.header__transformacion:hover {
    transform: scale(1.25,1.25);

}

.header {
    background-color: #862A37 ;
}


/* MAIN INDEX */
.main__principal {
    display:grid;
    grid-template-areas:"titulo"
                        "texto";
}
.main__titulo {
    grid-area: titulo;
}
.main__texto {
    grid-area: texto;
}
.main__article {
    display: grid;
    margin: 0 auto;
    padding: 5px;
    grid-template-areas:"none titular"
                        "escudo suplente"
                        "escudo estadio"
}
.main__estadio {
    grid-area: estadio;
}
.main__escudo {
    grid-area: escudo;

}
.main__titular {
    grid-area:titular;

}
.main__suplente {
    grid-area:suplente;

}
.main__img--small {
    width:300px;
    padding: 30px;
    margin: 30px;
}

.main__img--medium {
    width:500px;
    padding: 30px;
    margin: 30px;
}
.gradiente__uno {
    background-image: linear-gradient(to top, red,white);
}
.gradiente__dos {
    background-image: linear-gradient(to top, blue, white);
}

/* MAIN CLASICOS */
.main__clasicos {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:"huracan boca river"
                        "huracan independiente racing";
}
.main__huracan {
    grid-area: huracan;
}
.main__boca {
    grid-area: boca;
}
.main__river {
    grid-area: river;
}
.main__independiente {
    grid-area: independiente;
}
.main__racing {
    grid-area: racing;
}


/* FOOTER */
footer {
    height: 500px;
    padding-top: 300px;
}
.footer__section {
    background-color: #862A37;
    text-align: left;

}
.footer__redes {
    display: grid;
    grid-template-areas: "instagram facebook twitter";
}
.footer__instagram {
    grid-area: instagram;
}
.footer__facebook {
    grid-area: facebook;
}
.footer__twitter {
    grid-area: twitter;
}
.footer__icono {
    width: 70px;
    height: 70px;
    margin: 12px; 
}
.footer__texto {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
/* MEDIA QUERIE CELULAR */
@media (min-width:320px ) and (max-width:575px){

/* HEADER */

/* header {
    position:relative;
    top: 0px;
    background-color: #3C9DC6 ;
}
.header__section {
    grid-template-areas: "logo"
                        "inicio"
                        "clasicos"
                        "copas"
                        "historia"
                        "idolos"
                        "contacto";
} */
/* INDEX */

/* MAIN */
.main__article {
    grid-template-areas:"escudo"
                        "titular"
                        "suplente"
                        "estadio"
}
.main__img--small {
    background-color: red;
    width:250px;
    padding: 30px;
    margin: 30px;
}
.main__img--medium {
    background-color: red;
    width:300px;
    padding: 30px;
    margin: 30px;
}
.main__titulo {
    grid-area: titulo;
    width: auto;
    height: auto;
}
.main__texto {
    grid-area: texto;
    width: auto;
    height: auto;
}

/* CLASICOS */
.main__clasicos {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:"huracan"
                        "boca"
                        "river"
                        "independiente"
                        "racing";
}

/* FOOTER */
footer {
    width: 100%;
    height: 500px;
    padding-top: 300px;
}
.footer__redes {
    display: grid;
    grid-template-areas: "instagram"
                        "facebook" 
                        "twitter";
}



/* MEDIA QUERIE TABLET */
@media (min-width:576px) and (max: width 992px) {

/* HEADER */

/* header {
    position:relative;
    top: 0px;
    background-color: #3C9DC6 ;
}
.header__section {
    grid-template-areas: "logo"
                        "inicio"
                        "clasicos"
                        "copas"
                        "historia"
                        "idolos"
                        "contacto";
} */
/* INDEX */

/* MAIN */
.main__article {
    grid-template-areas:"escudo titular"
                        "escudo suplente"
                        "none estadio"
}
.main__img--small {
    background-color: red;
    width:300px;
    padding: 30px;
    margin: 30px;
}
.main__img--medium {
    background-color: red;
    width:350px;
    padding: 30px;
    margin: 30px;
}
.main__titulo {
    grid-area: titulo;
    width: auto;
    height: auto;
}
.main__texto {
    grid-area: texto;
    width: auto;
    height: auto;
}

/* CLASICOS */
.main__clasicos {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:"huracan"
                        "boca"
                        "river"
                        "independiente"
                        "racing";
}

/* FOOTER */
footer {
    width: 100%;
    height: 500px;
    padding-top: 300px;
}
.footer__redes {
    display: grid;
    grid-template-areas: "instagram"
                        "facebook" 
                        "twitter";
}







}


