/* COLORES */
/* LETRAS */
footer {
  padding-top: 300px; }

.footer__section {
  background-color: #862a37; }

.footer__redes {
  display: grid;
  grid-template-areas: "instagram facebook twitter"; }

.footer__instagram {
  grid-area: instagram; }

.footer__facebook {
  grid-area: facebook; }

.footer__twitter {
  grid-area: twitter; }

/* HEADER INDEX */
.header {
  background-color: #862a37; }
  .header__transformacion:hover {
    transform: scale(1.25, 1.25); }

.main__transformacion:hover {
  transform: scale(1.01, 1.01); }

.main__img--small {
  width: 300px; }

.main__img--medium {
  width: 400px; }

.main__padding-top {
  padding-top: 70px; }

.main__padding-topp {
  padding-top: 90px; }

.main__padding-toppp {
  padding-top: 30px; }

.img__paddinng--top {
  padding-top: 60px; }

/* MAP */
/* EACH */
.color-twitter {
  background-color: lightblue; }

.color-facebook {
  background-color: blue; }

.color-instagram {
  background-color: #bd0a72; }

/* EXTEND */
.margenes, .main__img--small, .main__img--medium {
  padding: 30px;
  margin: 30px; }

/* MIXING */
/* MEDIA QUERIE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  .imgs {
    width: auto; }
  footer {
    width: 100%;
    padding-top: 300px; }
    footer .footer__redes {
      display: grid;
      grid-template-areas: "instagram" "facebook"  "twitter"; }
    footer .footer__instagram {
      padding: 5px; }
    footer .footer__facebook {
      padding: 5px; }
    footer .footer__twitter {
      padding: 5px; } }

* {
  margin: 0px;
  padding: 0px; }

h1 {
  font-family: "Itim", cursive;
  text-align: center; }

h2 {
  color: #862a37;
  font-family: "Roboto", sans-serif; }

.img--small {
  height: 50px;
  width: 50px; }

.margin--img {
  margin: 15px; }

ul {
  list-style: none;
  padding: 0; }

main {
  margin: 10px;
  padding: 10px; }

.colortexto__verde {
  color: green; }

.colortexto__rojo {
  color: red; }

.center {
  align-items: center; }
