footer {
padding-top: 300px;         
}
    .footer {
        &__section {
            background-color: $color-principal;
        }
        &__redes {
            display: grid;
            grid-template-areas: "instagram facebook twitter";
        }
        &__instagram{
            grid-area: instagram;
        }
        &__facebook {
            grid-area: facebook;
        }
        &__twitter {
            grid-area: twitter;
        }
    }