
.main {
    &__transformacion:hover {
        transform: scale(1.01,1.01);
}

    &__img--small {
        width:300px;
        @extend .margenes
}
    &__img--medium {
        width:400px;
        @extend .margenes
}
}