
.main {
    &__transformacion:hover {
        transform: scale(1.01,1.01);
}

    &__img--small {
        width:300px;
        @extend .margenes
}
    &__img--medium {
        width:400px;
        @extend .margenes
}
    &__padding-top {
    padding-top: 70px;
}
    &__padding-topp {
    padding-top: 90px;
}
    &__padding-toppp {
        padding-top: 30px;
    }
}

.img__paddinng--top {
    padding-top: 60px;
}

