/* MEDIA QUERIE CELULAR */
@media (min-width:320px ) and (max-width:575px){

    footer {
    width: 100%;
    height: 500px;
    padding-top: 300px;
        .footer {
            &__redes {
                display: grid;
                grid-template-areas:"instagram"
                                    "facebook" 
                                    "twitter";
    }
    }
    }
}