@import "variables";
@import "footer";
@import "header";
@import "main";
@import "operators";
@import "mediaqueries";


*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: $font-principal;
    text-align: center;
}
h2 {
    color: $color-principal;
    font-family: $font-secundaria;

}


.img--small {
    height: 50px;
    width: 50px;
}

.margin--img {
    margin: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    margin: 10px;
    padding: 10px;
}

.colortexto {
    &__verde {
        color: green;
    }
    &__rojo {
        color: red;
    }
}


